<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="customization" type="de.weismueller.doco.DocoCustomization"*/-->
<head th:insert="_general.html :: head" th:remove="tag">></head>
<body>
<div class="container">
    <div th:insert="_general.html :: header" th:remove="tag"></div>
    <h1 class="my-3 text-secondary" th:if="${collection?.id == null}"
        th:text="#{admin-collection.headline.create}"></h1>
    <h1 class="my-3 text-secondary" th:if="${collection?.id != null}"
        th:text="#{admin-collection.headline.edit}"></h1>
    <form method="post" style="max-width: 550px; width: 100%;" th:action="@{/admin/collection}">
        <input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden"/>
        <input id="collectionId" name="collectionId" th:value="${collection?.id}" type="hidden">
        <div class="mb-3">
            <label class="form-label" for="collectionName" th:text="#{admin-collection.label.name}"></label>
            <input class="form-control" id="collectionName" name="collectionName" required
                   th:value="${collection?.name}" type="text">
        </div>
        <div class="mb-3">
            <label class="form-label" for="collectionDate" th:text="#{admin-collection.label.date}"></label>
            <input class="form-control" id="collectionDate" name="collectionDate" required
                   th:value="${collection?.date}" type="date">
        </div>
        <div class="mb-3">
            <label class="form-label" for="collectionTime" th:text="#{admin-collection.label.time}"></label>
            <input class="form-control" id="collectionTime" name="collectionTime" th:value="${collection?.time}"
                   type="time">
        </div>
        <div class="mb-3">
            <label class="form-label" for="collectionEnabled" th:text="#{admin-collection.label.active}"></label>
            <input class="form-check-input" id="collectionEnabled" name="collectionEnabled"
                   th:checked="${collection?.enabled}"
                   type="checkbox">
        </div>
        <div>
            <button class="btn btn-primary mt-2"
                    th:style="'background-color:'+${customization.brandColor}"
                    th:text="#{admin-collection.label.submit}" type="submit">
            </button>
        </div>
    </form>
    <footer th:insert="_general.html :: footer" th:remove="tag"></footer>
</div>
</body>
</html>