<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="isAdmin" type="java.lang.Boolean"*/-->
<!--/*@thymesVar id="customization" type="de.weismueller.doco.DocoCustomization"*/-->
<head th:insert="~{_general.html :: head}" th:remove="tag">></head>
<body>
<div class="container">
    <div th:insert="~{_general.html :: header}" th:remove="tag"></div>
    <h1 class="my-3 text-secondary">
        <span th:text="#{start.headline}"></span>
    </h1>
    <div th:each="collection: ${collections}">
        <h3 class="mb-3" style="font-size:110%;">
            <a class="collection text-decoration-none"
               th:attrappend="class=' '+${collection.getTransientCssClass}"
               th:href="@{/collection/__${collection.id}__}"
               th:style="'color:' + ${customization.brandColor}"
               th:text="${collection.title}">
            </a>
        </h3>
    </div>
    <footer th:insert="~{_general.html :: footer}" th:remove="tag"></footer>
</div>
</body>
</html>